img {
    height: 50px;
    width: 225px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    background: rgb(255, 255, 255);
}

h2,h4,p {
    margin: 0;
}

h4 {
    display: block;
}

.page {
    background: white;
    display: block;
    margin: 2rem auto 2rem auto;
    position: relative;


}

.page[size="A4"] {
    width: 21cm;
    height: 25cm;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 15px;
    text-align: left;
    padding: 3px;
}

table {
    border-collapse: collapse;
    width: 100%;


}

tr,td {
    border: 1px solid black;
    text-align: right;
    vertical-align: top;
    padding: 2px 3px;

}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.align {
    padding-right: 100px;
}